<template name="home">
    {{#with currentUser}}
    <div class="container">
        <h1>Current User</h1>
        <p>First Name: {{profile.firstName}}</p>
        <p>Last Name: {{profile.lastName}}</p>
        <p>Profile Picture: <img class="circle responsive-img" src="{{profile.profPicture}}" /></p>
        <p>Organization: {{profile.organization}}</p>
    </div>
    {{/with}}
</template>