<template name="login">
            <div class="row">
                    <h1>Login</h1>
            </div>
            <div class="row">
                <div class="col s8 offset-s2">
                    <form id="login-form" action="action">
                        <div class="input-field">
                                <input id="login-email" type="email">
                                <label for="login-email">Email</label>
                        </div>
                        <div class="input-field">
                                <input id="login-password" type="password">
                                <label for="login-password">Password</label>
                        </div>                        
                        <button class="btn waves-effect waves-light" type="submit" id="login-button">Login
                            <i class="material-icons right">send</i>
                        </button>                        
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                        <ul class="extra-links">
                            <li><a href="/register">Click here to register</a></li>
                        </ul>
                </div>
            </div>
</template>

