<template name="register">
            <div class="row">
                    <h1>Register</h1>
            </div>
            <div class="row">
                <div class="col s8 offset-s4">
                    <form id="register-form">
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                        <input id="email" type="email">
                                        <label for="email">Email</label>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="first-name" type="text">
                                        <label for="first-name">First Name</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="last-name" type="text">
                                        <label for="last-name">Last Name</label>
                                    </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="password" type="password">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="password-again" type="password">
                                        <label for="password-again">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="twelve wide column">
                                <button class="waves-effect waves-light btn" id="register-button" type="submit">Register</button>
                                <p><a href="/login">Login? Click here</a></p>
                            </div>
                        </div>
                    </div>
</template>