<template name="backofficemain">
   <div class="row">
         <div class="col s12">
            <h1>Backoffice</h1>
         </div>
         <div class="col s12 m4 l2">
            <h3>Users</h3>
            <a href="/user_list">User List</a>
         </div>
         <div class="col s12 m4 l2">
            <h3>Events</h3>
            <a href="/event_list">Event List</a>
            <br>
            <a href="/event_import">Import Event</a>
            <br>
            <a href="/category_list">Category List</a>
            <br>
            <a href="/category_new">New Category</a>
         </div>
         <div class="col s12 m4 l2">
            <h3>Countries</h3>
            <a href="/country_list">Country List</a>
            <br>
            <a href="/country_new">New Country</a>
         </div>
   </div>
</template>