<template name="countrydetail">
   {{#with country}}
   <div class="row">
      <div class="col s8 offset-s2">
         <a href="/country_list">Country List</a>
         <h2>{{data.name}}</h2>
         <div class="card-panel grey" style="color:white;">
            <p> Id: {{_id}} </p>
            <p> Created at: {{formatDateTime metadata.createdAt}} </p>
            <p> Created by: <a href="/user/{{metadata.createdBy}}" class="whitelink"> {{metadata.createdBy}} </a></p>
            <p> Last updated at: {{formatDateTime metadata.lastUpdatedAt}} </p>
            <p> Last updated by: <a href="/user/{{metadata.lastUpdatedBy}}" class="whitelink"> {{metadata.lastUpdatedBy}} </a></p>
         </div>
      </div>
   </div>
   {{/with}}
</template>