<template name="userProfile">
	{{#with currentUser}}
	<div class="row">
		<div class="col s4 offset-s4">
			{{#if profile.pictureLink}}
			<img class="circle responsive-img" src="{{profile.pictureLink}}" style="width:200px" />
			{{ else }}
			 <div class="col s12">
    			<img class="circle responsive-img" src="{{profile.photoPath}}" style="width:200px" />
    		</div>
    		<div class="col s12"> 
    			{{> s3_tester }}
    		</div>
    		{{/if}}
			<h2>{{profile.firstName}} {{profile.lastName}}</h2>
			<div class="col s2">
				{{#if isMale}}
				<i class="medium material-icons" style="color: blue">perm_identity</i>
				{{else}} {{#if isFemale}}
				<i class="medium material-icons" style="color: pink">perm_identity</i>
				{{else}}
				{{/if}}
				<h4>?</h4>
				{{/if}}
			</div> 
			<div class="col s6">
				<h4>{{ age }} years</h4> <span> {{formatDate profile.birthDate}} </span>
			</div>
       		<div class="col s12">
				<h5> {{ emails.[0].adress }} </h5>
			</div>
			<div class="col s12">
				{{#if profile.city}}
				<h5> {{ profile.city }} </h5>				
				{{/if}}
				{{#if profile.countryId}}
				<h5>{{getCountryName profile.countryId}} </h5>
				{{/if}}
			</div>
       		<div class="col s12">
       		    <div class="card-panel grey" style="color:white;">
	       			<p> Id: {{_id}} </p>
					<p> Is Active?: {{data.isActive}} </p>		
					<p> Last login at: {{formatDateTime data.lastLoginAt}} </p>	
					<p> Created at: {{formatDateTime data.createdAt}} </p>
					<p> Created by: {{data.createdBy}} </p>
					<p> Last updated at: {{formatDateTime data.lastUpdatedAt}} </p>
					<p> Last updated by: {{data.lastUpdatedBy}} </p>
				</div>
       		</div>
       		<div class="col s12">
       			<button id="logout" class="waves-effect waves-light btn"> Logout </button>
       		</div>
		</div>  
	</div>  
	{{/with}}
</template>

