<template name="categorydetail">
    {{#with category}}
    <div class="row">
        <nav class="blue lighten-2">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/backoffice" class="breadcrumb">BackOffice</a>
                    <a href="/category_list" class="breadcrumb">Category List</a> {{#if data.parentId}}
                    <a href="/category/{{data.parentId}}" class="breadcrumb">{{#with getParent data.parentId}}{{data.name}}{{/with}}</a> {{/if}}
                    <a href="#" class="breadcrumb">{{data.name}}</a>
                </div>
            </div>
        </nav>
      </div>
    <div class="row">
        {{#unless data.parentId}}
        <h2>{{data.name}}</h2> {{else}}
        <h2>{{#with getParent data.parentId}}{{data.name}}{{/with}} > {{data.name}}</h2> {{/unless}} {{#unless data.parentId}}
        <div class="row">
        <div class="col s12 l4 ">
        <h5>Sub Categories</h5>
            <div class="collection">
                {{#each subCategories _id}}
                <a href="/category/{{_id}}" class="collection-item">{{data.name}}</a> {{/each}}
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col s12 l4">
            <div class="input-field">
                <input id="subcategoryname" type="text">
                <label for="subcategoryname">Sub Category Name</label>
            </div>
        </div>
        <div class="col s12 l2">
        <button class="waves-effect waves-light btn" id="addSubCategory">Add SubCategory</button>
        </div>
        </div>
        {{/unless}}
      </div>
    <div class="row">        
        <div class="card-panel grey" style="color:white;">
            <p> Id: {{_id}} </p>
            <p> Created at: {{formatDateTime metadata.createdAt}} </p>
            <p> Created by: <a href="/user/{{metadata.createdBy}}" class="whitelink"> {{metadata.createdBy}} </a>
            </p>
            <p> Last updated at: {{formatDateTime metadata.lastUpdatedAt}} </p>
            <p> Last updated by: <a href="/user/{{metadata.lastUpdatedBy}}" class="whitelink"> {{metadata.lastUpdatedBy}} </a>
            </p>
        </div>
        <button class="btn waves-effect waves-light red" type="submit" id="delete-category">Delete</button>
   </div>
    {{/with}}
</template>