<template name="categorylist">
	<div class="row">
	<nav class="blue lighten-2">
         <div class="nav-wrapper">
            <div class="col s12">
               <a href="/backoffice" class="breadcrumb">BackOffice</a>
               <a href="/category_list" class="breadcrumb">Category List</a>
            </div>
         </div>
    </nav>
    <br>
    <div style="margin-left:20px">
    <a href="/category_new"><i class="medium material-icons">add_circle</i></a>
    </div>
	{{> reactiveTable collection=category settings=listSettings}}
	</div>
</template>

