<template name="category_new">
        <div class="row">
        <nav class="blue lighten-2">
         <div class="nav-wrapper">
            <div class="col s12">
               <a href="/backoffice" class="breadcrumb">BackOffice</a>
               <a href="/category_list" class="breadcrumb">Category List</a>
               <a href="#" class="breadcrumb">New Category</a>
            </div>
         </div>
        </nav>
            <div class="col s8 offset-s2">
            <h1>New Category</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <form id="category-form">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="categoryname" type="text">
                            <label for="categoryname">Category Name</label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn" id="create" type="submit">Create</button>
                </form>
     		</div>
     	</div>
</template>