<template name="eventType_new">
        <div class="row">
            <div class="col s8 offset-s2">
            <a href="/eventType_list">Event Type List</a>
            <h1>New Event Type</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <form id="eventType-form">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="eventTypename" type="text">
                            <label for="eventTypename">Event Type Name</label>
     					</div>
     				</div>
                    <button class="waves-effect waves-light btn" id="create" type="submit">Create</button>
     			</form>
     		</div>
     	</div>
</template>